@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap');
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem}
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%}
}

 @keyframes rotated-bounce {
  0%, 100% {
    transform: translateY(0) rotate(-15deg);
  }
  50% {
    transform: translateY(-20px) rotate(-15deg);
  }
}

.animate-rotated-bounce {
  animation: rotated-bounce 3s infinite;
}

@keyframes custom-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.animate-custom-spin {
  animation: custom-spin 3s linear infinite;
}

@keyframes swing-rotate {
  0% {
    transform: rotateX(-45deg) rotateY(0deg);
  }

  50% {
    transform: rotateX(-45deg) rotateY(0deg);
  }
  75% {
    transform: rotateX(-45deg) rotateY(-15deg);
  }
  100% {
    transform: rotateX(-45deg) rotateY(0deg);
  }
}

.animate-swing-rotate {
  animation: swing-rotate 2s ease-in-out infinite;
}


@keyframes bounce {
  0%, 100% {
    transform: translateY(1px) rotate(15deg);
  }
  50% {
    transform: translateY(-20px) rotate(-15deg);
  }
}

.animate-bounce {
  animation: bounce 3s infinite;
}
@keyframes pulse {
  0% {
      transform: scale(1);
  }

  50% {
      transform: scale(1.1);
  }

  100% {
      transform: scale(1);
  }
}
.animate-pulse {
  animation: pulse 2s  infinite;
}
.clip-custom-shape {
  clip-path: polygon(0 0, 100% 0, 100% 70%, 50% 100%, 0 70%);
}
svg path {
  fill: blueviolet
}

@keyframes fullspin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.fullSpin {
  animation: fullspin 20s linear infinite
}

@keyframes Rfullspin {


  100% {
    transform: rotate(-360deg);

  }
}

.RfullSpin {
  animation: Rfullspin 20s linear infinite
}